a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #007bff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2C3E50, #FD746C);
    color: #fff;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.addCarForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.file-input input[type="file"] {
    display: none;
}

.file-input label {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.file-input label:hover {
    background-color: #45a049;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.header {
    text-align: center;
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.car {
    margin: 10px;
    width: 200px;
    text-align: center;
}

.car img {
    width: 100%;
    height: auto;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.button-container a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-container a:hover {
    background-color: #0056b3;
}


.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.form-input[type="submit"] {
    background-color: #FD746C;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-input[type="submit"]:hover {
    background-color: #FF5F6D;
}

.file-input {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


